<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- NAV-BAR -->
    <header>
        <div>
            <h1>About</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/photoGallery">Photo Gallery</a></li>
                    <li><a href="/works">Works</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="page-title-wrapper">
            <h1 class="page-title">Bardin Goreksson</h1>
        </div>
        <div>
            <span>
                <h3>Backstory</h3>
                <p>Before he embraced a Ranger's duties, Bardin earned his beard as an Ironbreaker in the great hold of Karak Norn.
                    <br>Skills burnished in darkness did not lose their lustre in the light.
                </p>
                <p>
                    As a ranger of the Grey Mountains, Bardin had been keeping the holds of Karak Ziflin and Karak Norn safe from overground attacks. 
                    <br>Rangers rove far and wide, always on the lookout for enemy activity. It was on one such expedition that Bardin came across an abandoned mine entrance.
                    <br>The mine was clearly dwarf in origin but, having spent countless decades ranging across the Grey Mountains, it was not one Bardin was familiar with.
                    <br>The mine entrance must have been hidden until recently, perhaps revealed by a rock slide.
                </p>
                <p>
                    Without a moment's thought Goreksson entered, only pausing to bring out his trusty axe.
                    <br>The mine itself was much as he expected; long since exhausted of any precious ore.
                    <br>Further in, the ranger came across something of interest: four dwarf bodies clothed in now-rotten rags,
                    <br>but rags that may once have suggested a lengthy journey was imminent.
                    <br>Next to the corpses was a mound of long-dead rats and the unmistakable corpse of a ratman.
                    <br>In its clawed, skeletal hands was a small tattered piece of parchment, the dwarfen letters of the Klinkarhun inscribed on it.
                </p>
                <p>
                    Within the backpack of one of the dwarf dead was another torn piece of the same parchment.
                    <br>Bardin put the parts together and discovered, to his quickening heart, that he had an ancient map.
                    <br>What excited him so was the map's destination: Karak Zorn, the infamous lost hold of the dwarfs that lay hidden somewhere along the Worlds Edge Mountains in the Southlands.
                    <br>The map was of limited use though, as half the map keys and riddlespeak was in an unfamiliar variant of Klinkarhun.
                </p>
                <p>
                    Upon return, Bardin made several attempts to find funding and clan-backing for an exploration party,
                    <br>but was refused, laughed at, and scorned from every hold in the Grey Mountains,
                    <br>a humiliating fact which only steadied his resolve in the matter.
                </p>
                <p>
                    In 2511, his expeditions took him to Middenheim to confront the loremasters there.
                    <br>After enjoying the carnival, he set off to the Middle Mountains,
                    <br>going on a tip from a dwarf loremaster to search the remains of Karaz Ghumzul for lost records that mention Karak Zorn.
                    <br>There he encountered an adventuring party and a former hold infested by Skaven, with predictable results.
                    <br>Later that year, the same party encountered Bardin in the World's Edge Mountains, seeking information on Karak Anghazhar.
                    <br>By chance, he swooped in to help them at the Shrine of Sigmar as it threatened to be overtaken by a horde of daemons.
                </p>
                <p>
                    In 2523, he journeyed to Ubersreik, as word had reached him from the large dwarf community there.
                    <br>It is said a shop of antiquities on the edge of the Marktplaz holds a large dwarfish tome.
                    <br>According to the rumour-smith he paid honest dwarf gold to, the book's pages are covered in faded runes,
                    <br>written in an long-disused version of the Klinkarhun, and could very well be the key to understanding the map to the lost hold.
                    <br>The ranger is on his way to purchase this tome, after having negotiated a fair price.
                    <br>Of course, what Bardin considers a fair price may be totally different to the shopkeeper,
                    <br>but the dwarf's skills of negotiating; shouting very loudly until he gets his way are formidable.
                </p>
            </span>
        </div>
    </main>
    <script src="/app.js"></script>
</body>
</html>