<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
        </style>
    </head>
<body>
    <!-- NAV-BAR -->
    <header>
        <div>
            <h1>Home</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/photoGallery">Photo Gallery</a></li>
                    <li><a href="/works">Works</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="page-title-wrapper">
            <h1 class="page-title">Bardin Goreksson</h1>
        </div>
        <div>
            <span>
                <i>"Where did we come from? Over the mountain. Where are we going? Over the Mountain"</i>
                <dd>
                    <b>—Bardin Goreksson</b>
                </dd>
                <p><b>Bardin Goreksson</b> is a Dwarf and a core member of the motley band of heroes dubbed the Ubersreik Five. 
                    <br>Along with the rest of the group, he disrupted Chaos operations across the Reikland during the End Times.
                </p>
                <p>He may be the shortest in the group of heroes, but Bardin certainly makes up for it in ferocity, determintation and spirit.
                    <br> Gregarious, prideful, and not afraid to offend, Bardin is frequently seen charging into the thick of battle, 
                    <br>axe or hammer in full swing and leaving a trail of skaven corpses behind him.
                    <br>Once the victory is assured, he will be the first back to the pub, roaring and laughing at the top of his lungs
                    <br>in a manner only a dwarf is capable of.
                </p>
            </span>
        </div>
        <div>
            <img class="image-home" src="/images/Bardin_Goreksson.png" alt="">
        </div>
    </main>
    
    
    <script src="/app.js"></script>
</body>
</html>