<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- NAV-BAR -->
    <header>
        <div>
            <h1>Gallery</h1>
            <nav>
                
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/photoGallery">Gallery</a></li>
                    <li><a href="/works">Works</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main class="main">
        <div class="page-title-wrapper">
            <h1 class="page-title">Bardin Goreksson</h1>
        </div>
        <div>
            <span>
                <i>"Where did we come from? Over the mountain. Where are we going? Over the Mountain"</i>
                <dd>
                    <b>—Bardin Goreksson</b>
                </dd>
                
            </span>
        </div>
    </main>
    
    <img class="image-gallery" src="/images/bardin-1.jpg" alt="">
    <img class="image-gallery" src="/images/bardin-2.jpg" alt="">
    <script src="/app.js"></script>
</body>
</html>