<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- NAV-BAR -->
    <header>
        <div>
            <h1>Works</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/photoGallery">Photo Gallery</a></li>
                    <li><a href="/works">Works</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main class="main">
        <div class="page-title-wrapper">
            <h1 class="page-title">Bardin Goreksson</h1>
        </div>
        <div>
            <span>
                <h3>Wargear and Abilities</h3>
                <p>
                    Nothing brings Bardin quite the same joy as swinging an axe or a hammer,
                    <br>efficiently and brutally working his way through a group of Skaven.
                    <br>Fearless in battle, he never hesitates to launch himself into the fray.
                </p>
                <p>
                    For ranged battle, he can opt for his grudge-raker to deliver close range area damage,
                    <br>or exchange it for accuracy and range using the dwarfen handgun or crossbow.
                </p>
                <p>
                    Now an Outcast Engineer, Bardin might not be an official Engineers Guild graduate,
                    <br>but is no less lethal - armed as he is with an array of experimental weaponry.
                    <br>His unmatched use of heavy machinery together with his assorted gadgets makes him a master of utility,
                    <br>blasting down anything, or anyone, in his path...
                </p>
            </span>
        </div>
    </main>
    
    <script src="/app.js"></script>
</body>
</html>